    .registerContainer{
        width: 350px;
        height: 300px;
        padding: 20px;
        border-radius: 10px;
        background-color: white;
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        margin:auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .logoImg{
        width: 110px;
    }   

    .registerButton{
        border:none;
        padding: 5px;border-radius:5px;
        color:white;
        background-color:#EC630A;
        cursor:pointer;
    }

    .success{
        color:green;
        font-size: 12px;
        text-align: center;
    }

    .failure{
        color:red;
        font-size: 12px;
        text-align: center;
    }

    .registerCancel{
        position: absolute;
        top:5px;
        right:5px;
        cursor: pointer;
    }